<script lang="ts">
  import { active } from "tinro";
  import { isAuthenticated } from "$lib/stores/auth";
  import { logout } from "$lib/utils/auth";
  let burger_active = false;
</script>

<nav
  class="navbar is-spaced has-shadow"
  role="navigation"
  aria-label="main navigation"
>
  <div class="navbar-brand is-justify-content-space-between navbar-brand">
    <a class="navbar-item" href="#ref">
      <svg
        id="logo-38"
        width="78"
        height="32"
        viewBox="0 0 78 32"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M55.5 0H77.5L58.5 32H36.5L55.5 0Z"
          class="ccustom"
          fill="#FF7A00"
        />
        <path
          d="M35.5 0H51.5L32.5 32H16.5L35.5 0Z"
          class="ccompli1"
          fill="#FF9736"
        />
        <path
          d="M19.5 0H31.5L12.5 32H0.5L19.5 0Z"
          class="ccompli2"
          fill="#FFBC7D"
        />
      </svg>
    </a>
    <a
      role="button"
      class="navbar-burger"
      aria-label="menu"
      aria-expanded="false"
      on:click={() => (burger_active = !burger_active)}
    >
      <span aria-hidden="true" />
      <span aria-hidden="true" />
      <span aria-hidden="true" />
    </a>
  </div>

  <div class="navbar-menu" class:is-active={burger_active}>
    <div class="navbar-start">
      <a class="navbar-item" href="/home" use:active active-class="is-active">
        Home
      </a>

      <a class="navbar-item" href="/docs" use:active active-class="is-active">
        Documentation
      </a>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          {#if $isAuthenticated}
            <button class="button is-primary" on:click={logout}>Logout</button>
          {:else}
            <a
              class="button is-primary"
              href="/auth/signup"
              use:active
              active-class="is-active"
            >
              <strong>Sign up</strong>
            </a>
            <a
              class="button is-light"
              href="/auth/login"
              use:active
              active-class="is-active"
            >
              Log in
            </a>
          {/if}
        </div>
      </div>
    </div>
  </div>
</nav>
