<script lang="ts">
  import { onMount } from "svelte";
  import { slide } from "svelte/transition";
  import TodoItemInput from "$lib/components/TodoItemInput.svelte";
  import TodoItem from "$lib/components/TodoItem.svelte";
  import { listTodoItems } from "$lib/utils/todos";
  let list: any = null;
  const refresh = async () => {
    list = await listTodoItems();
    list = list.todoItems.sort((a, b) => b.id - a.id);
  };
  onMount(refresh);
</script>

<main>
  <TodoItemInput on:itemAdd={refresh} />
  <div class="box my-3">
    {#if list?.length ?? 0 >= 1}
      {#each list as item (item.id)}
        <div out:slide|local in:slide|local>
          <TodoItem on:itemDelete={refresh} on:itemUpdate={refresh} {...item} />
        </div>
      {/each}
    {:else}
      <p class="has-text-grey-light is-size-5">All Done :]</p>
    {/if}
  </div>
</main>
