<script lang="ts">
    import { FieldState, validateEmail } from "./Validation";
    import GenericInput from "./GenericInput.svelte";
    export let state: FieldState = FieldState.isInitial;
    export let value = "";
</script>

<GenericInput
    type="email"
    placeholder="Email"
    validator={validateEmail}
    bind:value
    bind:state
    {...$$restProps}
>
    <i slot="icon" class="fas fa-envelope" />
</GenericInput>
