<script lang="ts">
    export let loading:boolean;
    export let value:string;
    export let classes:string;
</script>

<div class="field">
    <div class={"control " + classes}  class:is-loading={loading}>
        <textarea class="textarea" {...$$restProps} bind:value={value}/>
    </div>
</div>

