<script lang="ts">
    import { FieldState } from "./Validation";
    export let state: FieldState;
    export let value: string;
    export let loading:boolean
    export let errorMsg: string = "";
    export let validator = (_input: string) => true;
    let isFocused = false;
    const onFocus = (_ev: any) => {
        isFocused = true;
    };
    const onBlur = (_ev: any) => {
        isFocused = false;
    };
    $: if (state !== FieldState.isValidationDisabled) {
        if (value) {
            if (validator(value)) {
                state = FieldState.isValid;
            } else {
                state = FieldState.isError;
            }
        } else {
            state = FieldState.isEmpty;
        }
    }
</script>

<div class="field">
    <p class="control has-icons-right" class:has-icons-left={$$slots.icon} class:is-loading={loading}>
        <input
            class="input"
            class:is-success={state === FieldState.isValid}
            class:is-danger={state === FieldState.isError}
            type="text"
            placeholder="text"
            bind:value
            on:focus={onFocus}
            on:blur={onBlur}
            {...$$restProps}
        />
        {#if $$slots.icon}
            <span class="icon is-small is-left ">
                <slot name="icon" />
            </span>
        {/if}
        <span
            class="icon is-small is-right "
            data-tooltip={state === FieldState.isError && isFocused && errorMsg}
            class:has-text-success={state === FieldState.isValid}
            class:has-text-danger={state === FieldState.isError}
            class:has-tooltip-active={state === FieldState.isError &&
                isFocused &&
                errorMsg}
            class:has-tooltip-multiline={state === FieldState.isError &&
                isFocused &&
                errorMsg}
            class:has-tooltip-arrow={state === FieldState.isError &&
                isFocused &&
                errorMsg}
            class:has-tooltip-right={state === FieldState.isError &&
                isFocused &&
                errorMsg}
            class:has-tooltip-danger={state === FieldState.isError &&
                isFocused &&
                errorMsg}
        >
            {#if state === FieldState.isValid}
                <i class="fas fa-check" />
            {:else if state === FieldState.isError}
                <i class="fas fa-times" />
            {/if}
        </span>
    </p>
</div>

<style>
</style>
