<script lang="ts">
    import { FieldState, validatePassword } from "./Validation";
    import GenericInput from "./GenericInput.svelte";
    export let state: FieldState = FieldState.isInitial;
    export let value = "";
    export let validator = validatePassword;
</script>

<GenericInput
    type="password"
    placeholder="Password"
    validator={validator}
    bind:value
    bind:state
    {...$$restProps}
>
    <i slot='icon' class="fas fa-lock" />
</GenericInput>
