<script lang="ts">
    import { FieldState, validateUsername } from "./Validation";
    import GenericInput from "./GenericInput.svelte";
    export let state: FieldState = FieldState.isInitial;
    export let validator = validateUsername;
    export let value = "";
</script>

<GenericInput
    type="text"
    placeholder="Username"
    {validator}
    bind:value
    bind:state
    {...$$restProps}
>
    <i slot="icon" class="fas fa-user" />
</GenericInput>
