<script lang="ts">
    import { validateForm } from "./Fields/Validation";
    export let inputs = []
    export let validForm;
    export let submit;
    export let submitMsg ;
    export let submitErrorMsg;
    $: validForm = validateForm(
        inputs.map((inputItem) => inputItem.value),
        inputs.map((inputItem) => inputItem.state)
    );

</script>

<form on:submit|preventDefault={submit}>
    {#each inputs as inputItem}
        <svelte:component
            this={inputItem.element}
            {...inputItem}
            bind:value={inputItem.value}
            bind:state={inputItem.state}
        />
    {/each}
    {#if submitErrorMsg}
        <p class="help is-danger">{submitErrorMsg}</p>
    {/if}
    {#if submitMsg}
    <div class="field">
        <div class="control">
            <input
                class="button"
                type="submit"
                value={submitMsg}
                disabled={!validForm}
                class:disabled={!validForm}
                class:is-success={validForm && !submitErrorMsg}
                class:is-danger={submitErrorMsg}
            />
        </div>
    </div>
    {/if}
</form>

<style>
    form {
        width: fit-content;
        height: fit-content;
    }
</style>
