<script lang="ts">
  import { Route } from "tinro";
  import MainLayout from "$lib/layout/MainLayout.svelte";
  import Home from "$lib/pages/Home.svelte";
  import LoginForm from "$lib/common/LoginForm.svelte";
  import SignUpForm from "$lib/common/SignUpForm.svelte";
  import GuardedRoute from "$lib/routing/GuardedRoute.svelte";
</script>

<MainLayout>
  <main class="is-flex is-justify-content-center is-align-items-center m-4">
    <Route>
      <Route path="/" redirect="/home" />
      <Route path="/home">
        <GuardedRoute>
          <Home slot="authenticated" />
          <div slot="public">
            <div class="box">
              <p class="has-text-grey-light is-size-5">
                You need to be logged in to view this page
              </p>
            </div>
          </div>
        </GuardedRoute>
      </Route>
      <Route path="/docs">Documentation</Route>
      <Route path="/auth" redirect="/auth/login" />
      <GuardedRoute>
        <div slot="authenticated">
          <Route path="/auth/*" redirect="/home" />
        </div>
        <div slot="public">
          <Route path="/auth/login"><LoginForm /></Route>
          <Route path="/auth/signup"><SignUpForm /></Route>
        </div>
      </GuardedRoute>
    </Route>
  </main>
</MainLayout>
