<script lang="ts">
    import { createEventDispatcher } from "svelte";
    import { updateTodoItem, deleteTodoItem } from "$lib/utils/todos";
    export let id: int;
    export let description = "";
    export let checked = false;
    const dispatch = createEventDispatcher();
</script>

<div class="field icon-text is-flex is-justify-content-space-between">
    <label class="b-checkbox is-medium checkbox ">
        <input
            id={"todo" + id}
            type="checkbox"
            bind:checked
            on:click={() => {
                updateTodoItem(id, description, !checked).then((_data) =>
                    dispatch("itemUpdate")
                );
            }}
        />
        <span class="check" />
        <span class="control-label" class:has-text-line-through={checked}>
            {" " + description + " "}
        </span>
    </label>
    <span
        class="icon is-medium has-text-danger"
        on:click|stopPropagation={() =>
            deleteTodoItem(id).then((_data) => dispatch("itemDelete"))}
        ><i class="fas fa-times" /></span
    >
</div>

<style>
    .has-text-line-through {
        text-decoration: line-through;
        white-space: pre;
    }
</style>
