<script lang="ts">
  import { createEventDispatcher } from "svelte";
  import { addTodoItem } from "$lib/utils/todos";
  import { FieldState } from "$lib/common/Fields/Validation";
  import GenericInput from "$lib/common/Fields/GenericInput.svelte";
  import GenericForm from "$lib/common/GenericForm.svelte";
  let dispatch = createEventDispatcher();
  let inputs = [
    {
      element: GenericInput,
      value: "",
      required:true,
      state: FieldState.isValidationDisabled,
      loading: false,
      size: 60,
      maxlength: 80,
      placeholder: "Start Typing... ",
    },
  ];
  const onSubmit = () => {
    inputs[0].loading = true;
    addTodoItem(inputs[0].value, false).then((_data) => {
      inputs[0].value = "";
      inputs[0].loading = false;
      dispatch("itemAdd");
    });
  };
</script>

<h1 class="is-size-2">Todo List</h1>
<GenericForm submit={onSubmit} bind:inputs />
