@charset "utf-8";
@import "./variables.sass";
@import "node_modules/bulma/bulma.sass";
@import "node_modules/@creativebulma/bulma-tooltip/src/sass/index.sass";
/* Bulma Checkbox */
@import "node_modules/bulma-checkbox/bulma-checkbox";

$fa-font-path: "../webfonts";
@import "node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "node_modules/@fortawesome/fontawesome-free/scss/solid.scss";
@import "node_modules/@fortawesome/fontawesome-free/scss/brands.scss";
@import "node_modules/@fortawesome/fontawesome-free/scss/regular.scss";
html {
  height: 100%;
}
body {
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%;
}

span.icon.is-small.is-right.has-text-danger.has-tooltip-active.has-tooltip-multiline.has-tooltip-arrow.has-tooltip-right.has-tooltip-danger::before {
  white-space: pre;
  min-width: fit-content;
}
