<script lang='ts'>
  import {currentUser,login,logout} from "$lib/context/auth";
  let count: number = 0
  const increment =async () => {
    count += 1
    await login("email@email.com", "password")
    if (count%10===0){
      logout()
    }
  }
</script>

<button on:click={increment}>
  Clicks: {count} 
  CurrentUser: {JSON.stringify($currentUser,2,2)}
</button>

<style>
  button {
    font-family: inherit;
    font-size: inherit;
    padding: 1em 2em;
    color: #ff3e00;
    background-color: rgba(255, 62, 0, 0.1);
    border-radius: 2em;
    border: 2px solid rgba(255, 62, 0, 0);
    outline: none;
    width: 200px;
    font-variant-numeric: tabular-nums;
    cursor: pointer;
  }

  button:focus {
    border: 2px solid #ff3e00;
  }

  button:active {
    background-color: rgba(255, 62, 0, 0.2);
  }
</style>
